<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="/">
                <img src="/FitTrackFirst.png" alt="Logo" style="height: 90px" />
            </a>
        </div>

        <button class="header__toggle" aria-label="Toggle menu" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav class="header__nav" [class.header__nav--active]="isMenuOpen" role="navigation">
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="/home-fit-track" class="header__menu-link" (click)="closeMenu()">Inicio</a>
                </li>

                <li class="header__menu-item" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                    <button class="header__menu-link" (click)="toggleSubmenu()" aria-haspopup="true"
                        [attr.aria-expanded]="isSubmenuOpen">
                        Usuario
                        <mat-icon>expand_more</mat-icon>
                    </button>

                    <ul class="header__submenu" [class.header__submenu--visible]="isSubmenuOpen || !isDesktopView">
                        <li class="header__submenu-item">
                            <a href="/days-component" (click)="closeMenu()">Rutina</a>
                        </li>
                        <li class="header__submenu-item">
                            <a href="/register" (click)="closeMenu()">Calorias</a>
                        </li>
                        <li class="header__submenu-item">
                            <a href="/register" (click)="closeMenu()">Progreso</a>
                        </li>
                        <li class="header__submenu-item">
                            <a href="/register" (click)="closeMenu()">Perfil</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>