<div class="days-component">
    <div>
        <h1 class="h1">Registrar de Calorias</h1>
        <a [routerLink]="['/calories-register']" class="link-card">
            <div class="panel-content">
                <div class="panel-icon panel-icon-purple">
                    <i class="fa fa-check-square"></i>
                </div>
                <h3>Registrar Calorias Gastadas</h3>
                <p>Registra tus gastos caloricos en ejercicio</p>
            </div>
        </a>
        <a [routerLink]="['/calories-ingested']" class="link-card">
            <div class="panel-content">
                <div class="panel-icon panel-icon-purple">
                    <i class="fa fa-check"></i>
                </div>
                <h3>Registrar Calorias Ingeridas</h3>
                <p>Registra tus calorias ingeridas durante el dia</p>
            </div>
        </a>
    </div>
</div>