.splash-screen {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3533cd;
    transition: opacity 0.5s;
    z-index: 1000;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}