<div class="days-component">
    <div>
        <h1 class="h1">Pantalla de seleccionar dia</h1>
       
        <a [routerLink]="['/daily-routine']" class="link-card">
            <div class="panel-content">
                <div class="panel-icon panel-icon-purple">
                    <i class="fa fa-dumbbell"></i>
                </div>
                <h3>Registrar Rutina</h3>
                <p>Registra tus ejercicios y rutinas diarias para seguir tu progreso.</p>
            </div>
        </a>

    </div>

</div>