@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@layer utilities {
    .border-border {
        @apply border border-gray-300;
    } 
}

html, body, #root, app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #3533cd);
    font-family: poppins, sans-serif; 
}